<div class="banner flex justify-between items-center">
  <h1 class="text-white text-3xl font-bold">Park Spaces in Winnipeg</h1>

  <div class="menu">
    <%= link_to "About", about_path, class: "text-white font-bold mr-4" %>
    <%= link_to "Park Spaces", park_spaces_path, class: "text-white font-bold" %>
  </div>
</div>


<div>
<div class="flex justify-between items-center mb-4" style="position: absolute; top: 4; right: 1.5rem;">
  <%= form_tag park_spaces_path, method: :get, class: "flex-1 mr-4" do %>
    <div class="flex items-center">
      <%= text_field_tag :q, params[:q], placeholder: "Search by park name", class: "form-control mr-1" %>
      <%= select_tag :neighbourhood, options_for_select(ParkSpace.pluck(:neighbourhood).uniq, params[:neighbourhood]), prompt: "Select a neighborhood", class: "form-control ml-2" %>
      <%= submit_tag "Search", class: "btn btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2" %>
    </div>
  <% end %>
</div>


<div>
  <h1 class="text-2xl font-bold mb-4"> Do you know that there are a thousand of park spaces in Winnipeg?</h1>
    <ul class="mt-8" style="width: 100%">
        <% @park_spaces.each do |park_space| %>
           <li>
               <%= link_to park_space.park_name, park_space_path(park_space) %>
           </li>
        <% end %>
   <br>
   <div class="pagination">
      <%= paginate @park_spaces %>
   </div>
   </ul>
<br>
</div>



