<!DOCTYPE html>
<html>
  <head>
    <title>Parkproject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>

     <div class="bg-blue-500 text-white py-8 px-2  style=position: fixed; bottom: 0; left: 0; right: 0;">
         <p class="text-center">&copy; 2023 Park Spaces in Winnipeg</p>
     </div>
  </body>
</html>
